:root{
  /* Primary colors */
  --dark-green: #323828;
  --green: #63704D;
  --white-green: #D2D7CB;
  --pink: #DC9EEE;
  --dark-pink: #C395D0;

  /* Page backgrounds*/
  --green-page-bg: var(--green);
  --white-green-page-bg: var(--white-green);

  /* Shadows */
  --island-shadow: 0 50px 100 0 rgba(50, 50, 93, 0.25),
                   0 30px 60px 0 rgba(0, 0, 0, 0.3),
                   inset 0 -2 6 0 rgba(10, 37, 64, 0.35);
}